<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/css/dashicons.min.css" rel="stylesheet" />
    <link href="~/Content/css/css/foundation-icons.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome-4.1.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/css/jquery.fancybox.css" rel="stylesheet" />
    <link href="~/Content/css/css/red.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/css/admin-ajax.css" rel="stylesheet" />
</head>
<body class="page page-id-1353 page-template page-template-template page-template-Foreign-represenatation page-template-templateForeign-represenatation-php custom-background foreign-representations" style="position: relative; min-height: 100%; top: 0px;">

    <div id="wrapper">
        <div id="top-bar" class="top-inside" style="margin-bottom: 36px;">

        </div>
        <!-- header -->
        <header id="header">
            <div id="header-inner">
                <div id="logo">
                    <a href="http://www.i4i.co.in/" class="logo-img">

                        <img src="~/Content/NewDesign/images/logo.png" />
                    </a>
                </div>
                <!-- navigation -->

            </div>
        </header>
        <!-- END #header -->
        <div>
            @RenderBody()
        </div>
        <footer id="footer">

            <div id="footer-inner" class="row">
                <div class="widget recent-posts one-third">
                    <h4 class="widget-title" style="margin-left: 69px;">Know i4i</h4>
                    <ul style="margin-left: 50px;">

                        <li>
                            <i class="icon-rss icon"></i>
                            <div class="post">
                                <a class="sidebar" href="http://www.i4i.co.in/knowi4i/about-us/" target="_blank">About i4i</a>
                                <i class="meta"></i>
                            </div>
                        </li>

                        <li>
                            <i class="icon-rss icon"></i>
                            <div class="post">
                                <a class="sidebar" href="http://www.i4i.co.in/knowi4i/vision/" target="_blank">Vision</a>
                                <i class="meta"></i>
                            </div>
                        </li>
                        <li>
                            <i class="icon-rss icon"></i>
                            <div class="post">
                                <a class="sidebar" href="http://www.i4i.co.in/knowi4i/values/" target="_blank">Values</a>
                                <i class="meta"></i>
                            </div>
                        </li>
                        <li>
                            <i class="icon-rss icon"></i>
                            <div class="post">
                                <a class="sidebar" href="http://www.i4i.co.in/knowi4i/why-i4i/" target="_blank">Why i4i?</a>
                            </div>
                        </li>
                        <li>
                            <i class="icon-rss icon"></i>
                            <div class="post">
                                <a class="sidebar" href="http://www.i4i.co.in/knowi4i/advisory-board/" target="_blank">i4iLeaders</a>
                                <i class="meta">&nbsp;</i>
                            </div>
                        </li>


                    </ul>

                </div>
                <div class="widget recent-posts one-third">
                    <h4 class="widget-title" style="margin-left: 69px;">Browse Quickly</h4>

                    <ul style="margin-left: 50px;">

                        <li>
                            <i class="icon-rss icon"></i>
                            <div class="post">
                                <a class="sidebar" href="http://182.73.96.52:92/Training/TrainingHome" target="_blank">i4iTraining</a>
                                <i class="meta"></i>
                            </div>
                        </li>

                        <li>
                            <i class="icon-rss icon"></i>
                            <div class="post">
                                <a class="sidebar" href="/SignIn/SignInRepresentation">i4iRepresentation</a>
                                <i class="meta"></i>
                            </div>
                        </li>
                        <li>
                            <i class="icon-rss icon"></i>
                            <div class="post">
                                <a class="sidebar" href="http://worldref.org/">WorldRef</a>
                                <i class="meta"></i>
                            </div>
                        </li>
                        <li>
                            <i class="icon-rss icon"></i>
                            <div class="post">
                                <a class="sidebar" href="/I4IKnowledge/KnowledgeQuery">i4iKnowledge</a>
                            </div>
                        </li>
                        <li>
                            <i class="icon-rss icon"></i>
                            <div class="post">
                                <a class="sidebar" href="#">Interesting Projects</a>
                            </div>
                        </li>
                        <li>
                            <i class="icon-rss icon"></i>
                            <div class="post">
                                <a class="sidebar" href="http://www.i4i.co.in/oblige/">Oblige Us</a>
                                <i class="meta">&nbsp;</i>
                            </div>
                        </li>

                    </ul>

                </div>
                <div class="widget contact last one-third">
                    <h4 class="widget-title">Contact Us</h4>
                    <ul>
                        <li>
                            <i class="icon-home"></i>
                            <b>Address:</b> Level 9, Spaze I-Tech Park A1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tower, Sector - 49 Sohna Road, Gurgaon, India - 122018
                        </li>
                        <li>
                            <i class="icon-phone"></i>
                            <b>Phone:</b> 0124- 6769077<br>
                            <i class="icon-fax"></i>
                            <b>Fax:</b> 0124- 6768888
                        </li>
                        <li>
                            <i class="icon-envelope-alt"></i>
                            <b>Email:</b> <a href="mailto:info@i4i.com" target="_blank">info@i4i.co.in</a>
                        </li>
                    </ul>
                </div>

            </div>

        </footer>
        <!-- END #footer -->
        <div id="footer-bar">
            <div class="right">
                <div id="footer-nav">
                </div>
            </div>
            <div class="left powered-logoicon">
                Copyright © 2015 i4i.
            </div>
            <div class="powered-logo"><img src="~/Content/WorldRef/worldRefInner/images/powered-logo.png" /></div>
            <div class="right">
                <ul class="social">
                    <li><a href="https://www.facebook.com/indiaforindonesia?ref=hl" class="social-icon fb" title="Join Vibrant Indian-Indonesian Business Community at fb" target="_blank"></a></li>
                    <li><a href="http://www.i4i.co.in/foreign-representations/#" class="social-icon gp" title="Join Vibrant Indian-Indonesian Business Community at gp" target="_blank"></a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
