@model WorldRef.DataLayer.SignUpWorldRefModel
@{
    Layout = "~/Views/Shared/LayoutSearch.cshtml";
}
@{
    var msg = TempData["ErrorMessage"] ?? string.Empty;
    TempData["ErrorMessage"] = "";
}
<script>
        var message = '@msg';

        if (message != "") {
            alert(message);
            // openFancybox();
        }
        function ValidateForm() {
            var y = document.getElementById("oldEmail").value;
            if (y == null || y == "") {
                alert("Enter old Password");
                document.getElementById("oldEmail").focus();
                return false;
            }
            var y1 = document.getElementById("UserName").value;
            if (y1 == null || y1 == "") {
                alert("Enter New UserName");
                document.getElementById("UserName").focus();
                return false;
            }
            var y2 = document.getElementById("NewPassword").value;
            if (y2 == null || y2 == "") {
                alert("Enter New Password");
                document.getElementById("NewPassword").focus();
                return false;
            }
        }
</script>
<div id="content-wrapper" class="side-left">
    <h2 style="text-align: center;">Change Username / Password</h2>
    <div>
        <section id="main-content" role="main">




            <!-- article -->a
            <article>
                <div style="">
                    @using (Html.BeginForm("ChangeUserNameAndPassword", "WorldRef"))
                    {
                        <div class="profile_part2 forget_box">
                            <ul class="pE">
                                <li>
                                    <span class="pEdit manage-search">Enter New User Name</span><label class="lp">
                                        @Html.TextBox("UserName", "", new { @class = "tText" })

                                    </label>
                                </li>
                                <li>
                                    <span class="pEdit manage-search">Enter Old Password</span><label class="lp">
                                        @Html.Password("oldEmail", "", new { @class = "tText" })
                                        @Html.Hidden("userId", ViewData["userId"].ToString())

                                    </label>
                                </li>

                                <li>
                                    <span class="pEdit manage-search">Enter New Password</span><label class="lp">
                                        @Html.Password("NewPassword", "", new { @class = "tText" })

                                    </label>
                                </li>

                                <li>
                                    <span class="pEdit manage-search"></span>
                                    <label class="lp">
                                        <button type="submit" class="pEButton" value="Submit" onclick="return ValidateForm()">Submit</button>
                                    </label>
                                </li>

                            </ul>
                        </div>
                    }

                </div>

                <br class="clear">
            </article>
            <!-- /article -->



        </section>
    </div>


</div>