
@{
    ViewBag.Title = "Explore";
    Layout = "~/Views/Shared/LayoutSearch.cshtml";
}

<div id="explore_drop" class="explore_drop-field" style="display:none;">
    <ul style="">
        <li>
            <a href="javascript:void(0)">Cloud of Keywords</a>
        </li>
        <li>
            <a href="javascript:void(0)">Other Good References</a>
        </li>
        <li>
            <a href="javascript:void(0)">Similar Companies</a>
        </li>
        <li>
            <a href="javascript:void(0)">Inter of Relevant</a>
        </li>
        <li>
            <a href="javascript:void(0)">Companies CEO</a>
        </li>
        <li>
            <a href="javascript:void(0)">Relevant Images/Videos</a>
        </li>
        <li>
            <a href="javascript:void(0)">Videos</a>
        </li>
    </ul>
</div>

<div class="explore_divMain">
    <div class="columns1_3">
        <a href="javascript:void(0)">
            <div class="sc_section">
                <div class="sc_title_icon_animated">
                    <div class="sc_title_icon">
                        <img src="~/Content/images/cloud.svg" class="explore_img" />
                       @* <i class="fa fa-cloud ex_i"></i>*@
                    </div>
                    <h5 class="sc_title_iconed">Cloud of Keywords</h5>
                </div>
            </div>
            @*<div class="sc_section ">
                <div class="wpb_text_column">
                    <div class="wpb_wrapper">
                        <p>Garage Door Repair. Carpentry. Termite Damage <br>Repairs. Tub and shower caulking. Doors. <br>Fences. Weatherproofing…</p>
                    </div>
                </div>
            </div>*@
        </a>
    </div>
    <div class="columns1_3">
        <a href="javascript:void(0)">
            <div class="sc_section">
                <div class="sc_title_icon_animated">
                    <div class="sc_title_icon">
                        <img src="~/Content/images/company.png" class="explore_img" />
                    </div>
                    <h5 class="sc_title_iconed">Similar Companies</h5>
                </div>
            </div>
            
        </a>
    </div>
    <div class="columns1_3">
        <a href="javascript:void(0)">
            <div class="sc_section">
                <div class="sc_title_icon_animated">
                    <div class="sc_title_icon">
                        <img src="~/Content/images/good.svg" class="explore_img" />
                    </div>
                    <h5 class="sc_title_iconed">Other Good References</h5>
                </div>
            </div>
            
        </a>
    </div>

    <div class="divWrapper">
        <div class="columns1_3">
            <a href="javascript:void(0)">
                <div class="sc_section">
                    <div class="sc_title_icon_animated">
                        <div class="sc_title_icon">
                            <img src="~/Content/images/interview-01.svg" class="explore_img" />
                        </div>
                        <h5 class="sc_title_iconed">Interviews of Relevant Companies CEO</h5>
                    </div>
                </div>

            </a>
        </div>

        <div class="columns1_3">
            <a href="javascript:void(0)">
                <div class="sc_section">
                    <div class="sc_title_icon_animated">
                        <div class="sc_title_icon">
                            <img src="~/Content/images/media.svg" class="explore_img" />
                        </div>
                        <h5 class="sc_title_iconed">Relevant Images/Videos</h5>
                    </div>
                </div>

            </a>
        </div>
    </div>
   

</div>

